@charset "UTF-8"; /* reset */

canvas {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  background-color: white;
  background: url(assets/background.png);
  pointer-events: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: contain;
}

.color {
  height: 30px;
  width: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
}

.colors {
  display: inline-flex;
}

.controls {
  width: 250px;
  margin: 30px auto;
}

button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 0px;
  padding: 5px 7px;
  min-width: 50px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid rgb(142, 142, 147);
  color: rgb(142, 142, 147);
  font-size: 14px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
  vertical-align: top;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
input:checked[type='checkbox'] {
  background-color: #666;
  -webkit-appearance: checkbox;
}
input[type='text'],
input[type='number'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
html input[type='button'],
input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}
/* 2020-02-12 수정 */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
body {
  background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, 'Apple SD Gothic Neo', sans-serif, 'ArialUnicodeMs';
  color: #000;
}
/* 2022-02-16 수정 */
.pc body,
.pc th,
.pc td,
.pc input,
.pc select,
.pc textarea,
.pc button {
  font-family: -apple-system, 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', sans-serif, 'ArialUnicodeMs';
}
/* 2022-02-16 수정 */
/* 2020-12-09 추가 */
a {
  color: #000;
  text-decoration: none;
}
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
hr {
  display: none;
}
/* global **/
html,
body {
  min-width: 320px;
}

#pc_header,
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  min-width: 320px;
  height: 50px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a2dc4;
}

#pc_header {
  height: 80px;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

@media screen and (max-width: 1280px) {
  .pc #contentWrapper {
    width: 1280px;
    margin: 0 auto;
  }
}

header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#mainWrapper {
  width: 100vw;
  background: #f2f2f2;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  margin: 0 auto;
  margin-top: 50px;
}

.pc_head {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_hanger {
  font-size: 2rem;
  padding: 0 4px 0 10px;
  color: white;
}

.pc #mainWrapper {
  margin-top: 80px;
}

#contentWrapper {
  min-height: 100vh;
  text-align: center;
}

.header_profile_wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

.txt_nickname {
  min-width: 70px;
  max-width: 90px;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pc .txt_nickname {
  max-width: 120px;
}

.title {
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.title > h1 {
  font-size: 1.2rem;
  padding-top: 5px;
}

.pc .title > h1 {
  font-size: 1.6rem;
}

.pc .title > .icon_hanger {
  font-size: 2.5rem;
}

.icon_wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px #d4d4d4;
  background-color: white;
}

.icon_draw {
  font-size: 30px;
  color: rgb(147, 147, 147);
}

.canvas_wrapper {
  position: relative;
  width: 88%;
  padding-bottom: 88%;
  margin: 24px auto;
}

.pc .canvas_wrapper {
  width: 500px;
  height: 500px;
  padding: 0;
}

input[type='checkbox']:checked + label > img {
  border: 3px solid #0080ff;
}

label {
  width: 100%;
  height: 100%;
}

.clothes_item {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.color-status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}
