<div *ngIf="vm$ | async as vm" id="header">
  <a href="/home" class="title">
    <img src="assets/logo.png" alt="logo" class="logo_img" />
  </a>
 
  <div ngbDropdown>
    <img *ngIf="vm.profileURL.length; else noUser" ngbDropdownToggle id="dropdownBasic1" [src]="vm.profileURL" alt="userProfileURL" class="profile_img" />
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="min-width: 80px;">
      <!-- <div style="font-size: 13px;" ngbDropdownItem >마이 페이지</div> -->
      <div style="font-size: 13px;" ngbDropdownItem (click)="onClickLogout()">로그아웃</div>
    </div>
  </div>
  <ng-template #noUser>
    <span (click)="onClickLogin()" class="txt_login">로그인</span>
  </ng-template>
</div>
