<div class="canvas_wrapper">
  <div *ngFor="let clothes of selectedClothesList">
    <div class="clothes_item" [style.background]="'url(' + header + clothes + ')' + ' center/contain'"></div>
  </div>
  <canvas
    (mousedown)="startPainting()"
    (mouseup)="stopPainting()"
    (mouseleave)="stopPainting()"
    (touchstart)="startPainting()"
    (touchend)="stopPainting()"
    (click)="onCanvasClick()"
    #canvas
  ></canvas>
</div>
<input type="range" id="js-line" min="0.1" max="5.0" step="any" value="2.5" (click)="onRangeChange($event)" />
<div class="controls">
  <button id="js-fill" (click)="startFilling()">Fill</button>
  <button id="js-draw" (click)="stopFilling()">Paint</button>
  <button id="js-save" (click)="saveImage()">Save</button>
  <button (click)="onCanvasClear()">Clear</button>
</div>
<div class="colors">
  <div
    *ngFor="let color of backgroundColors"
    class="color"
    [style.backgroundColor]="color"
    (click)="onColorClick($event)"
  ></div>
</div>

<div class="flicking-viewport" style="display: block; width: 100%; padding: 12px">
  <div
    *ngFor="let c of contents"
    style="display: inline-block; width: 100px; height: 100px"
    (longPress)="onLongPress($event)"
    longPress
  >
    <input
      type="checkbox"
      [id]="c.Key"
      [name]="c.Key"
      style="display: none"
      [value]="c.Key"
      (change)="onChange($event)"
    />
    <label [for]="c.Key">
      <img
        style="
          width: 80px;
          height: 80px;
          box-shadow: 3px 2px 2px rgb(197, 197, 197);
          border-radius: 4px;
          background-color: white;
        "
        [src]="header + c.Key"
      />
    </label>
  </div>
</div>
