<div class="canvas_wrapper">
  <div
    style="width: 100%; height: 100%; z-index: 1000; position: absolute; top: 0; left: 0; pointer-events: none"
    [style.background]="'url(' + header + currentKey + ')' + ' center/contain'"
  ></div>
  <canvas
    style="
      background: url(../../../../../assets/background.png);
      pointer-events: auto;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: contain;
    "
    (mousedown)="startPainting()"
    (mouseup)="stopPainting()"
    (mouseleave)="stopPainting()"
    (touchstart)="startPainting()"
    (touchend)="stopPainting()"
    (click)="onCanvasClick()"
    (cuDoubleClick)="onDoubleClick()"
    #canvas
  ></canvas>
</div>
<input type="range" id="js-line" min="0.1" max="5.0" step="any" value="2.5" (click)="onRangeChange($event)" />
<div class="controls">
  <button id="js-fill" (click)="startFilling()">Fill</button>
  <button id="js-draw" (click)="stopFilling()">Paint</button>
  <button id="js-save" (click)="saveImage()">Save</button>
  <button (click)="onCanvasClear()">Clear</button>
</div>
<div class="colors">
  <div
    *ngFor="let color of backgroundColors"
    class="color"
    [style.backgroundColor]="color"
    (click)="onColorClick($event)"
  ></div>
</div>

<div class="flicking-viewport" style="display: block; width: 100%; padding: 12px">
  <div
    *ngFor="let c of contents"
    style="display: inline-block; width: 100px; height: 100px"
    (click)="currentKey = c.Key"
  >
    <img
      style="
        width: 80px;
        height: 80px;
        box-shadow: 3px 2px 2px rgb(197, 197, 197);
        border-radius: 4px;
        background-color: white;
      "
      [src]="header + c.Key"
    />
  </div>
</div>
